:root {
    --main: 75, 85, 99; //gray-600
    --primary: 225, 29, 72; //rose-600
    --primary-lighter: 251, 113, 133; //rose-400
    --primary-light: 244, 63, 94; //rose-500
    --primary-dark: 190, 18, 60; //rose-700
    --primary-darker: 136, 19, 55; //rose-900
    --background: 238, 238, 238; //custom white Color
    --backgroundsecond: 255, 255, 255; //full white
    --shadow: 115, 115, 115; //neutral-500
    --opacity: 100; //opacity :P
}

.dark-mode {
    --main: 245, 245, 245; //neutral-100
    --primary: 225, 29, 72; //rose-600
    --primary-lighter: 251, 113, 133; //rose-400
    --primary-light: 244, 63, 94; //rose-500
    --primary-dark: 190, 18, 60; //rose-700
    --primary-darker: 136, 19, 55; //rose-900
    --background: 38, 38, 38; //neutral-800
    --backgroundsecond: 23, 23, 23; //neutral-900
    --shadow: 0, 0, 0; //full black
}

.sepia-mode {
    --main: 67, 52, 34;
    --primary: 167, 115, 51;
    --secondary: 80, 66, 49;
    --background: 241, 231, 208;
    --backgroundsecond: 231, 211, 167;
    --shadow: 115, 115, 115;
}

.cyan-mode {
    --main: 22, 78, 99;
    --primary: 8, 145, 178;
    --secondary: 14, 116, 144;
    --background: 208, 240, 241;
    --backgroundsecond: 207, 250, 254;
    --shadow: 115, 115, 115;
}

.green-mode {
    --main: 6, 78, 59;
    --primary: 5, 150, 105;
    --secondary: 4, 120, 87;
    --background: 213, 241, 208;
    --backgroundsecond: 209, 250, 229;
    --shadow: 115, 115, 115;
}

.purple-mode {
    --main: 75, 85, 99;
    --primary: 124, 58, 237;
    --secondary: 109, 40, 217;
    --background: 228, 208, 241;
    --backgroundsecond: 237, 233, 254;
    --shadow: 115, 115, 115;
}