@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
    font-family: "Tanker";
    src: url("~/assets/fonts/Tanker/Tanker-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-VariableItalic.woff2")
        format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Italic.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-MediumItalic.woff2")
        format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-Black.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Satoshi";
    src: url("~/assets/fonts/Satoshi/Satoshi-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}
