body {
    font-family: "Satoshi", sans-serif;
    @apply bg-background text-main;
    /* background-color: rgb(var(--background), var(--opacity));
    transition: background-color 0.3s; */
}

/* h1 {
     font-size: 64px;
     font-weight: 600;
 }
 p {
     font-size: 24px;
     font-weight: 400;
 }
 @media screen and (max-width: 1024px) {
     h1 {
         font-size: 28px;
     }
     p {
         font-size: 16px;
     }
 } */

::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--primary);
}

::selection {
    color: var(--background);
    background: var(--primary);
}
