/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(var(--backgroundsecond), 0.5);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--backgroundsecond), 1);
}