/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: theme('colors.backgroundSecond');
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.backgroundLight');
}